<!DOCTYPE html>
<html>
<head>
  <title> Friendly Bakery</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta charset="utf-8">
</head>
<body>

<nav>
	<div class="nav-wrapper">
      <a href="/" class="brand-logo center">Friendly Bakery</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="cookies">Cookies</a></li>
        <li><a href="cakes">Cakes</a></li>
        <li class="active"><a href="muffins">Muffins</a></li>
        <li><a href="contactus">Contact Us</a></li>
      </ul>
    </div>
</nav>

  <div class="carousel">
    <a class="carousel-item" href="#one!"><img src="../images/muffin1.jpg"></a>
    <a class="carousel-item" href="#two!"><img src="../images/muffin2.jpg"></a>
    <a class="carousel-item" href="#three!"><img src="../images/muffin5.jpg"></a>
    <a class="carousel-item" href="#four!"><img src="../images/cupcake4.jpg"></a>
    <a class="carousel-item" href="#five!"><img src="../images/cupcake3.jpg"></a>
  </div>

  <div class="row">
    <div class="col s12 m8 l4">
      <div class="card">
        <div class="card-image">
          <img src=<%=@blueberry.pic%> height=305>
          <a class="btn-floating halfway-fab waves-effect waves-light pink"><i class="material-icons">+</i></a>
        </div>
        <div class="card-content">
          <span class="card-title pink-text text-darken-2"><strong><%=@blueberry.name%></strong></span>
          <p><%=@blueberry.info%></p>
          <p> $<%=@blueberry.price%>.00 </p>
        </div>
      </div>
    </div>

  <div class="row">
    <div class="col s12 m8 l4">
      <div class="card">
        <div class="card-image">
          <img src=<%=@chocolate.pic%>>
          <a class="btn-floating halfway-fab waves-effect waves-light pink"><i class="material-icons">+</i></a>
        </div>
        <div class="card-content">
          <span class="card-title pink-text text-darken-2"><strong><%=@chocolate.name%></strong></span>
          <p><%=@chocolate.info%></p>
          <p> $<%=@chocolate.price%>.00 </p>
        </div>
      </div>
    </div>
  <div class="row">
    <div class="col s12 m8 l4">
      <div class="card">
        <div class="card-image">
          <img src=<%=@banana.pic%>>
          <a class="btn-floating halfway-fab waves-effect waves-light pink"><i class="material-icons">+</i></a>
        </div>
        <div class="card-content">
          <span class="card-title pink-text text-darken-2"><strong><%=@banana.name%></strong></span>
          <p><%=@banana.info%></p>
          <p> $<%=@banana.price%>.00 </p>
        </div>
      </div>
    </div>
  </div>
  </div>  
  </div>  
   



   <script src="https://code.jquery.com/jquery-3.3.1.min.js"> </script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
 <script type="text/javascript" src="../main.js"></script>
</body>
</html>
